<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/EdTech-practice/public/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
        .btn-container {
            display: flex;
            justify-content: flex-start;
            gap: 10px; /* Промежуток между иконками */
        }

        .btn-container .material-icons {
            font-size: 24px;
            cursor: pointer;
        }

        @media (max-width: 600px) {
            .btn-container {
                flex-direction: row;
                align-items: center;
            }
        }
           .clickable-icon-text {
            font-size: 24px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
        .clickable-icon-text i {
            margin-right: 8px; /* Отступ между иконкой и текстом */
        }
    </style>
</head>
<body>

<div class="content" id="content">
    <h1 class="center-align" style="margin: 0;" style="font-size: 30px;
">Учебные планы </h1>
   
         

    <div class="container">
<h3>
        <a href="/study_plans/new" class="clickable-icon-text" style="color: rgb(0, 0, 0); cursor: pointer;">
            <i class="small material-icons" >add_box</i>
            добавить
        </a>
    </h3>        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Класс</th>
                    <th>Действия</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each studyPlans}}
                    <tr id="plan-{{this.id}}">
                        <td><a href="/study_plans/{{this.id}}">{{this.title}}</a></td>
                        <td>{{this.description}}</td>
                        <td>{{this.classname}}</td>
                        <td>
                           <div class="btn-container">
                                <a href="/study_plans/edit/{{this.id}}"><i class="material-icons" style="color: #000000; cursor: pointer;">edit</i></a>

                                <a href="#" class="delete-plan" data-plan-id="{{this.id}}"><i class="material-icons" style="color: rgb(0, 0, 0); cursor: pointer;">delete</i></a>

                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    // Обработчик клика по ссылке "Удалить"
    $('.delete-plan').click(function(e){
        e.preventDefault();
        var planId = $(this).data('plan-id');
        var trElement = $(this).closest('tr'); // Получаем родительскую строку таблицы

        $.ajax({
            url: '/study_plans/delete/' + planId,
            type: 'GET',
            success: function(data){
                // Успешно удаленный учебный план удаляем из DOM
                trElement.remove();

                // Показываем тост с сообщением об успешном удалении
                M.toast({html: 'Учебный план успешно удален', classes: 'rounded'});
            },
            error: function(jqXHR){
                var message = jqXHR.responseJSON ? jqXHR.responseJSON.message : 'Ошибка при удалении учебного плана';
                M.toast({html: message, classes: 'rounded red lighten-1'});
            }
        });
    });
});

function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const header = document.getElementById('header');
    const content = document.getElementById('content');
    if (sidebar && header && content) {
        sidebar.classList.toggle('visible');
        header.classList.toggle('sidebar-open');
        content.classList.toggle('sidebar-open');
    }
}

function closeSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const header = document.getElementById('header');
    const content = document.getElementById('content');
    if (sidebar && header && content) {
        sidebar.classList.remove('visible');
        header.classList.remove('sidebar-open');
        content.classList.remove('sidebar-open');
    }
}
</script>

</body>
</html>
