<!DOCTYPE html>
<html>
<head>
    <title>{{studyPlan.title}}</title>
    <style>
        .excelData {
            border: 1px solid black;
            padding: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>{{studyPlan.title}}</h1>
    <p>Описание: {{studyPlan.description}}</p>
    <p>ID группы: {{studyPlan.groupid}}</p>
    <button onclick="location.href='/study_plans';">Вернуться к списку учебных планов</button>

    <div class="excelData">
        <h2>Данные из Excel:</h2>
        {{#each excelData}}
            <p>Предметная область: {{this.subjectArea}}</p>
            <p>Учебный предмет: {{this.subject}}</p>
            <p>Разделение учеников на группы: {{this.studentGroups}}</p>
        {{/each}}
    </div>
</body>
</html>
