<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/EdTech-practice/public/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .btn-container {
            display: flex;
            justify-content: flex-start;
            gap: 10px; /* Промежуток между иконками */
        }

        .btn-container .material-icons {
            font-size: 24px;
            cursor: pointer;
        }

        @media (max-width: 600px) {
            .btn-container {
                flex-direction: row;
                align-items: center;
            }
        }
          .clickable-icon-text {
            font-size: 24px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
        .clickable-icon-text i {
            margin-right: 8px; /* Отступ между иконкой и текстом */
        }
    </style>
</head>
<body>

<div class="content" id="content">
    <h1 class="center-align" style="margin: 0;">Учебные группы</h1>
    <div class="container">
    
    
        <h3>
        <a href="/groups/new" class="clickable-icon-text" style="color: rgb(0, 0, 0); cursor: pointer;">
            <i class="small material-icons" >group_add</i>
            добавить
        </a>
    </h3> 
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {{#each groups}}
                    <tr id="class-{{this.id}}">
                        <td><a href="/groups/{{this.id}}">{{this.name}}</a></td>
                        <td>
                            <div class="btn-container">
                                <a href="/groups/{{this.id}}/edit"><i class="material-icons" style="color: #000000; cursor: pointer;">edit</i></a>
                                <a href="#" class="delete-group" data-group-id="{{this.id}}"><i class="material-icons" style="color: rgb(2, 2, 2); cursor: pointer;">delete</i></a>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    // Обработчик клика по иконке "Удалить"
    $('.delete-group').click(function(e){
        e.preventDefault();
        var groupId = $(this).data('group-id');

        $.ajax({
            url: '/groups/' + groupId + '/delete',
            type: 'POST', // Меняем тип запроса на POST
            success: function(data){
                // Успешно удаленную группу удаляем из DOM
                $('#class-' + groupId).remove();

                // Показываем тост с сообщением об успешном удалении
                M.toast({html: 'Группа успешно удалена', classes: 'rounded'});
            },
            error: function(jqXHR){
                var message = jqXHR.responseJSON ? jqXHR.responseJSON.message : 'Ошибка при удалении группы';
                M.toast({html: message, classes: 'rounded red lighten-1'});
            }
        });
    });
});

 function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const header = document.getElementById('header');
            const content = document.getElementById('content');
            sidebar.classList.toggle('visible');
            header.classList.toggle('sidebar-open');
            content.classList.toggle('sidebar-open');
        }

            function closeSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const header = document.getElementById('header');
            const content = document.getElementById('content');
            sidebar.classList.remove('visible');
            header.classList.remove('sidebar-open');
            content.classList.remove('sidebar-open');
            }
</script>

</body>
</html>
