<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Учебные группы</title>
    <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>
    <h1>Учебные группы</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Действия</th>
                    <th>
                        <button onclick="window.location.href='/groups/new'" class="waves-effect waves-light btn">
                            Создать
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each groups}}
                    <tr id="class-{{this.id}}">
                        <td><a href="/groups/{{this.id}}">{{this.name}}</a></td>
                        <td>
                            <a href="/groups/{{this.id}}/edit">Редактировать</a>
                            <form action="/groups/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
   

    <script src="path/to/your/javascript.js"></script>
</body>
</html>
