<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Учебные группы</title>
<<<<<<< HEAD
    
=======
    <link rel="stylesheet" href="path/to/your/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
>>>>>>> nailka
</head>
<body>
    <h1>Учебные группы</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
<<<<<<< HEAD
                    <th>Действия</th>
                    <th>
                        <button onclick="window.location.href='/groups/new'" class="waves-effect waves-light btn">
                            Создать
=======
                    <th>
                        <button onclick="window.location.href='/groups/new'" class="waves-effect waves-light btn">
                            Создать группу
>>>>>>> nailka
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each groups}}
                    <tr id="class-{{this.id}}">
                        <td><a href="/groups/{{this.id}}">{{this.name}}</a></td>
<<<<<<< HEAD
                        <td>
                            <a href="/groups/{{this.id}}/edit">Редактировать</a>
                            <form action="/groups/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
=======
                  
>>>>>>> nailka
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
<<<<<<< HEAD
   

   
</body>
</html>
=======
>>>>>>> nailka
