<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{groupName}}</title>
<<<<<<< HEAD
    
</head>
<body>
    <h1>Группа: {{groupName}}</h1>
=======
    <link rel="stylesheet" href="path/to/your/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
 <h1>Группа: {{groupName}}</h1>
   <span><a href="/groups">Вернуться к списку групп</a></span>
   <span><a href="/groups/{{group.id}}/edit">Редактировать</a></span>
   <span>
    <form class="delete-group-form" action="/groups/{{group.id}}/delete" method="POST">
      <button class="delete-group-button" type="submit">Удалить</button>
    </form>
   </span>
>>>>>>> nailka
    <h2>Список студентов:</h2>
    <div class="container">
        {{#if students.length}}
            <ul>
                {{#each students}}
                    <li>{{this.firstname}} {{this.lastname}}</li>
                {{/each}}
            </ul>
        {{else}}
            <p>В этой группе пока нет студентов.</p>
        {{/if}}
    </div>
<<<<<<< HEAD
    <a href="/groups">Вернуться к списку групп</a>
  
=======
    
    <script>
  $(document).ready(function() {
    $(".delete-group-form").submit(function(e) {
      e.preventDefault();
      const form = $(this);
      $.post(form.attr('action')).done(function(response) {
        if (response.message === 'Группа успешно удалена!') {
          M.toast({html: response.message, classes: '#26a69a teal lighten-1 rounded'});
          setTimeout(function() {
            window.location.href = '/groups';
          }, 2000);
        } else {
          M.toast({html: response.message, classes: 'rounded red'});
        }
      }).fail(function(xhr) {
        if (xhr.responseJSON && xhr.responseJSON.message) {
          M.toast({html: xhr.responseJSON.message, classes: 'rounded red'});
        } else {
          M.toast({html: 'При удалении группы возникла ошибка!', classes: 'rounded red'});
        }
      });
    });
  });
</script>

>>>>>>> nailka
</body>
</html>
